body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    /*
    * Created with https://www.css-gradient.com
    * Gradient link: https://www.css-gradient.com/?c1=62b518&c2=cedbcb&gt=r&gd=dtr
    */
    background-attachment: fixed;

    background:#CEDBCB;

}

@keyframes background {
    0% {
        background: radial-gradient(at right top, #62B518, #CEDBCB);
    }
    50% {
        background: radial-gradient(at right top, #62B518, #CEDBCB);
    }
    100% {
        background:#CEDBCB;
    }
}