@font-face {
    font-family: Cheque;
    src: url('../fonts/Cheque-Regular.ttf');
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    /*
    * Created with https://www.css-gradient.com
    * Gradient link: https://www.css-gradient.com/?c1=62b518&c2=cedbcb&gt=r&gd=dtr
    */
    background: #62B518;
    background: radial-gradient(at right top, #62B518, #CEDBCB);
    background-attachment: fixed;
}

.titleSpot {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: default;
}
.titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 17vw;
}
.logoContainer {
    perspective: 1000px;
    margin-right: 2vw;
}
.titleLogo {
    width: 6vw;
    aspect-ratio: 1/1;
    transform-style: preserve-3d;
    animation: spin 5s infinite linear;
}
.logoFace {
    position: absolute;
    width: 100%;
    height: 100%;
}
.logoTop {
    transform: rotateX(90deg) translateZ(3vw);
    background-color: rgba(31, 155, 49, 0.5);
}
.logoBottom {
    transform: rotateX(-90deg) translateZ(3vw);
    background-color: rgba(45, 203, 69, 0.5);
}
.logoLeft {
    transform: rotateY(-90deg) translateZ(3vw);
    background-color: rgba(22, 184, 46, 0.5);
}
.logoRight {
    transform: rotateY(90deg) translateZ(3vw);
    background-color: rgba(14, 136, 33, 0.5);
}
.logoBack {
    transform: rotateX(-180deg) translateZ(3vw);
    background-color: rgba(45, 182, 65, 0.5);
}
.logoFront {
    transform: rotateX(0deg) translateZ(3vw);
    background-color: rgba(11, 185, 37, 0.5);
}
.titleText {
    font-family: Cheque;
    font-size: 11vw;
}
@keyframes spin {
    from {
        transform: rotateX(0deg) rotateY(0deg);
    }
    to {
        transform: rotateX(360deg) rotateY(360deg);
    }
}

.bioText {
    animation-name: bioTextLoad;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    font-family: monospace;
    font-size: max(1vh, 2vw);
    margin-bottom: 0%;
}
.bioSubLine {
    animation-name: bioSubLineLoad;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    font-family: monospace;
    font-size: max(1vh, 2vw);
    margin-bottom: 0%;
    transform: translateY(-50%)
}

@keyframes bioTextLoad {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    50% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 100%;
    }
}
@keyframes bioSubLineLoad {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    50% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(-50%);
        opacity: 100%;
    }
}
.MRWrapper {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10vw;

    display: grid;
    grid-row: 2;
}
.MRTab {
    border-radius: 1vw 1vw 0vw 0vw;
    width: 15vw;
    height: 3vw;
    backdrop-filter: brightness(1.4);
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}
.tabShadow {
    width: 100%;
    height: 100%;
    box-shadow: inset 0px -15px 30px -30px rgba(0,0,0,.7);

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.tabTitle {
    font-family: monospace;
    font-size: clamp(100%, 110%)
}

.mostRecentProject {
    border-radius: 0vw 2vw 2vw 2vw;
    width: 100%;
    backdrop-filter: brightness(1.4);

    text-decoration: none;

    display: flex;
}
.MRTitle {
    color: black;
    justify-self: start;
    align-self: start;
    margin-left: 2%;
    font-size: 5vw;
    font-family:cursive;
    text-shadow: 2px 2px 14px rgba(35,15,9,0.55);
}
.MRThumbnail {
    align-self: center;
    width: 60%;
    aspect-ratio: 16/9;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: 2%;

    border-radius: 2vw;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(89, 191, 89);

    position: absolute;
    bottom:0;
    box-shadow: inset 0px -64px 92px -67px rgba(0,0,0,0.75);
}
